*{
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: navy;
    color: white;
    padding: 1%;
   
}
main{
    margin: 5%;
}
ul{
    list-style: none;
    padding: 0;
}
a{
    color: white;
    text-decoration: none;
}
.header_left{
    font-size: 30px;
    margin-left: 3%;
}
.header_right{
    font-size: 30px;
    margin-right: 5%;
}
.card{
    border: solid;
    width: 30%;
    height: 400px;
}
.card_image{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50%;
    border-bottom: solid;
}
.card_body{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    margin: 3%;
    height: 35%;
    /* background-color: orange; */
}

.card_body li{
    margin: 5% 5% 15% 5%;
}
.card_footer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 8%;
    /* margin: 0 4%; */
    /* background-color: orangered; */
}
.card_footer button{
    width: 30%;
    margin-right: 4%;
    padding: 5px;
    color: white;
}
.edit{
    background-color: rgb(16, 195, 58);
    border: none;
}
.delete{
    background-color: red;
    border: none;
}
